# General
NODE_ENV=development
APP_ENV=local
APP_URL=http://localhost:3000
API_URL=http://localhost:4000

# API
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/restaurant_db?schema=public"
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_DOMAIN=localhost
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3003,http://127.0.0.1:3003,http://localhost:3004,http://127.0.0.1:3004,http://localhost:3005,http://127.0.0.1:3005
SEED_ADMIN_EMAIL=admin@restaurant.local
SEED_ADMIN_PASSWORD=Admin123!

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_WS_URL=ws://localhost:4000
NEXT_PUBLIC_DEFAULT_THEME=restaurante-claro
